<h1>And so it begins...</h1>

<form ng-submit="ctrl.addPost()">

  <label>Contribute up to 250 characters to the story.</label><br></br>
  <input
    type="text"
    name="title"
    ng-model="ctrl.post.title"
    required="required"
    placeholder="Title" />

  <div ng-if="form.title.$touched">
    <div ng-messages="form.title.$error.required">
      Title required!
    </div>
  </div><br></br>

  <input
    type="text"
    name="content"
    ng-model="ctrl.post.content"
    required="required"
    maxlength="250"
    placeholder="Content" />

  <div ng-if="form.content.$touched">
    <div ng-messages="form.content.$error.required">
      Content required!
    </div>
    <div ng-messages="form.content.$error.maxlength">
      You can only add up to 250 characters!
    </div>
  </div><br></br>

  <button type="submit" class="btn btn-primary">Post</button>

</form>
