<div class="row">
  <div class="col-sm-12">
    <h2><strong><span data-ng-bind="ctrl.post.title"></span></strong></h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="text-right">
      <p>{{ ctrl.post.likes }} likes</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="text-left">
      <button class="btn btn-primary" ng-model="post.likes" ng-model-options="{ debounce: 1000 }" ng-click="ctrl.like()">Like</button>
    </div>
  </div>
</div>

<br></br>

<div class="row">
  <div class="col-sm-12">
    <p><span data-ng-bind="ctrl.post.content"></span></p>
  </div>
</div>

<br></br>

<div class="row">
  <div class="col-sm-12">
    <ng-include src="'angular/templates/posts/update.html'"></ng-include>
  </div>
</div>
