<h4><strong>SIGN UP</strong></h4>

<form ng-submit="ctrl.signUp()">
<!--removed user controller prefix from ng-submit and ng-model and almost had it working-->
  <input
    type="text"
    name="username"
    ng-model="ctrl.user.username"
    required="required"
    placeholder="Username" />

  <div ng-if="form.username.$touched">
    <div ng-messages="form.username.$error.required">
      Username required!
    </div>
  </div>

  <input
    type="email"
    name="email"
    ng-model="ctrl.user.email"
    required="required"
    placeholder="Email" />

  <div ng-if="form.username.$touched">
    <div ng-messages="form.username.$error.required">
      Email required!
    </div>
  </div>

  <input
    type="password"
    name="password"
    ng-model="ctrl.user.password"
    required="required"
    minlength="6"
    placeholder="Password" />

  <div ng-if="form.password.$touched">
    <div ng-messages="form.password.$error.required">
      Password required!
    </div>
    <div ng-messages="form.password.$error.minlength">
      Password must be more than 6 characters!
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Sign Up</button>

</form>

<p>Already have an account? <a href="#" ui-sref="home.signin" ui-sref-active="active">Sign in here.</a></p>
