<h4>SIGN IN</h4>

<form ng-submit="user.signIn()">

  <input
    type="text"
    name="username"
    ng-model="user.username"
    required="required"
    ng-model="ctrl.username" />

  <div ng-messages="form.username.$touched">
    <div ng-messages="form.username.$error.required">
      Username required!
    </div>
  </div>

  <input
    type="password"
    name="password"
    ng-model="user.password"
    required="required"
    minlength="6"
    ng-model="ctrl.password" />

  <div ng-messages="form.password.$touched">
    <div ng-messages="form.password.$error.required">
      Password required!
    </div>
    <div ng-messages="form.password.$error.minlength">
      Password must be more than 6 characters!
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Sign In</button>

</form>
