/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @media screen and (max-width: 768px) {
   .col-sm-4 {
     text-align: center;
     margin: 25px 0;
   }
 }

 .navbar {
   margin-bottom: 0;
 }

 .jumbotron {
   /*background-image: url("/assets/images/aged.jpg");*/
   background-repeat: no-repeat;
   background-size: cover;
 }

 .wrapper {
   width: 55%;
   margin: 0 auto;
   background-color: rgba(255, 255, 255, .85);
   z-index: 0;
   margin-top: 70px;
   margin-bottom: 100%;
   text-align: center;
 }

 .content {
   display: inline-block;
   margin: 0 auto;
   width: 100%;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 60px;
   overflow: auto;
 }
