<div class="jumbotron"
  ng-style="{'background-image': 'url(' + myImgSrc + ')'}">
  <div class="wrapper">
    <div class="content">
      <br></br>
      <div ui-view></div>
    </div>
  </div>
</div>
