<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Verbatim</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <%= javascript_include_tag 'application' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div ng-controller="UsersController as ctrl">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <div ng-if="'home.users' | isState">
              <ng-include src="'angular/templates/application/_navbar.html'"></ng-include>
            </div>
            <div ng-if="'home.user' | isState">
              <ng-include src="'angular/templates/application/_navbar.html'"></ng-include>
            </div>
            <div ng-if="'home.profile' | isState">
              <ng-include src="'angular/templates/application/_navbar.html'"></ng-include>
            </div>
            <div ng-if="'home.posts' | isState">
              <ng-include src="'angular/templates/application/_navbar.html'"></ng-include>
            </div>
            <div ng-if="'home.post' | isState">
              <ng-include src="'angular/templates/application/_navbar.html'"></ng-include>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <%= yield %>

  </body>
</html>
