<!DOCTYPE html>
<html>
  <head>
    <title>Memegram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>

    <div ng-app="app">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="myNavbar">
            <div ng-include="nav_partial_url"></div>
          </div>
        </div>
      </nav>

      <%= yield %>
      
    </div>

  </body>
</html>
