<!DOCTYPE html>
<html>
  <head>
    <title>Memegram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>

    <div ng-app="app">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <div ng-if="ctrl.user">
              <ul class="nav navbar-nav">
                <!--<li><a href="" ui-sref="home.posts">Meme Feed</a></li>-->
                <li><a href="" ui-sref="home.user">Your Profile</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="" ng-click="ctrl.signOut()"><span class="glyphicon glyphicon-user"></span> Log Out</a></li>
              </ul>
            </div>
            <div ng-if="ctrl.user === undefined">
              <ul class="nav navbar-nav">
                <li><a href="" ui-sref="home.signin">Sign In</a></li>
                <li><a href="" us-sref="home.signup">Sign Up</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <%= yield %>
    </div>

  </body>
</html>
