<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Verbatim</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <!--<div ng-controller="UsersController as ctrl">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <div ng-if="ctrl.signedIn === true">
              <ng-include src="'angular/templates/application/_navbar.html'"></ng-include>
            </div>
          </div>
        </div>
      </nav>
    </div>-->

    <%= yield %>

  </body>
</html>
